:root {
  --color-body: #242424;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 12%;
}
body {
  font-size: 1.6rem;
  color: var(--color-body);
  line-height: 1.6;
}

img,
video {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
