.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
  min-height: 100dvh;
}

.main h1 {
  font-size: 6rem;
  text-align: center;
  font-weight: 700;
}
